body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display:flex;
}

.card-container-div {
    background-color: magenta;
}

.btn-outline-primary {
    color: magenta;
}